// Import global variables and utilities
@use '../../../global/vars' as *;
@use '../../../mixins/font' as *;

// Fixed Side Buttons Styles
.fixed-side-buttons {
  position: fixed;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  z-index: 2001;
}

.side-button {
  display: block;
  width: 8.375rem;
  height: 9.5625rem;
  transition: all 0.3s ease;

  &:hover {
    transform: translateX(-0.3125rem);
    filter: brightness(1.1);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

@media (max-width: 1024px) {
  .fixed-side-buttons {
    right: 0.3125rem;
    gap: 0.625rem;
    top: 70%;
  }

  .side-button {
    width: 6.5rem;
    height: 7.4375rem;
  }
}

@media screen and (max-width: 850px) {
  .fixed-side-buttons {
    display: none;
  }
}
