@use '../../global/vars' as *;
@use '../../mixins/font' as *;

.event-section {
    margin: 0px auto;
}

@media screen and (max-width: 850px) {
    .event-section {
        padding: 0px 20px;
    }
}

.event-card{
    padding: 30px;
    border-bottom: 1px solid #FFDA89;
    display: flex;
    gap: 80px;
    
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    @media screen and (max-width: 850px) {
        padding: 20px 0px;
    }
}

.event-card-image{
    width: 100%;
    max-width: 500px;
    flex-shrink: 0;
    // aspect-ratio: 5/3;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    @media screen and (max-width: 1024px) {
        max-width: 100%;
        width: 100%;
    }
}

.event-card-content{
    background-color: $white;
    border-radius: 15px;
    padding: 30px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.event-card-title {
    @include yu-mincho-regular();
    @include responsive-font(25px, 25px);
    font-weight: 600;
    color: var(---N__, #2A1A08);
}   

.event-card-text{
    @include yu-mincho-regular();
    @include responsive-font(16px, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    color: var(---N__, #2A1A08);
}