@use '../../global/vars' as *;
@use '../../mixins/font' as *;
@use './component/pagination' as *;
@media screen and (max-width: 850px) {
    .news-section{
        background: rgba(255, 249, 254, 0.90);
        padding-bottom: 20px;
    }
}
.news-pagination {
    margin-top: 20px;
    text-align: center;
}
