@use '../global/vars' as *;
@use '../global/reset';
@use '../global/base' as *;
@use '../global/utils';
@use '../mixins/button';
@use '../mixins/font' as *;

.section-title {
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px 0px;
  &-en {
    @include Elina();
    font-weight: 400;
    font-size: 70px;
    color: #021A21;
  }

  &-jp {
    display: flex;
    flex-direction: row;
    gap:10px;

    &-text {
      @include YuGothic();
      font-weight: 700;
      font-size: 21px;
      color: #021A21;
    }
  }
}
