@use '../global/vars' as *;
@use '../global/reset';
@use '../global/base' as *;
@use '../global/utils';
@use '../mixins/button';
@use '../mixins/font' as *;

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
