/**
 * Shop cast profile page styles
 */

@use '../../global/vars' as *;
@use '../../global/reset';
@use '../../global/base';
@use '../../global/utils';
@use '../../mixins/font';
@use '../components/header';


/**
 * ----------------------------------------------------------------------------
 * Title
 * ----------------------------------------------------------------------------
 */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{media-query(sm)} {
  }
  @media #{media-query(md)} {
  }
  @media #{media-query(lg)} {
    padding: 200px 0 0;
  }

  .title-label1 {
    @include font.serif;
    @media #{media-query(sm)} {
    }
    @media #{media-query(md)} {
    }
    @media #{media-query(lg)} {
      font-size: 95px;
    }
  }

  .title-label2 {
    @include font.serif;
    color: #F933A7;
    @media #{media-query(sm)} {
    }
    @media #{media-query(md)} {
    }
    @media #{media-query(lg)} {
      margin: 50px 0 0;
      font-size: 70px;
    }
  }

  .title-name {
    font-weight: 500;
    @media #{media-query(sm)} {
    }
    @media #{media-query(md)} {
    }
    @media #{media-query(lg)} {
      margin: 20px 0 0;
      font-size: 45px;
    }
  }

  .title-attr {
    letter-spacing: .1em;
    @media #{media-query(sm)} {
    }
    @media #{media-query(md)} {
    }
    @media #{media-query(lg)} {
      margin: 45px 0 0;
      font-size: 24px;
    }
  }
}
