@use 'global/vars' as *;
@use 'global/reset';
@use 'global/base' as *;
@use 'global/utils';
@use 'mixins/button';
@use 'mixins/font' as *;
@use 'mixins/text';

@use 'groups/sidebar';
@use 'groups/header.scss';
@use 'groups/pushbar.scss';
@use 'groups/footer.scss';
@use 'groups/date-search-bar.scss';
@use 'groups/schedule-card.scss';

.groups-button-more {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-btn {
    @include YuGothic();
    @include responsive-font(16px,20px);
    // font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    color: #fff;
    background: #021A21;
    padding: 15px 0;
    border-radius: 30px;
    width: 225px;
    z-index: 1;
    padding: 10px;
    @media #{media-query(sm)}, #{media-query(xs)} {
      width: 200px;
      padding: 10px 0;
      letter-spacing: -0.64px;

    }
  }
}
