@use './global/vars' as *;
@use './mixins/text';
@use './global/reset';
@use './global/base';
@use './global/utils';

$card-title-height: 75px;
$card-title-bgcolor: #CAA668;
$card-title-font-size: 32px;
.password {
  background-color: #fff;
  @media #{media-query(sm)} {
    padding: 0px 0;
  }
  @media #{media-query(md)} {
    padding: 40px 0;
  }
  @media #{media-query(lg)} {
    padding: 50px 0;
  }
  &-container {
    display: flex;
    flex-direction: row;
    &-sidebar {
      width: 20%;
      margin: 0 auto;
      border-right: 3px solid #ccc;
      @media #{media-query(sm)} {
        // width: 100%;
        display: none;
      }
      &-list {
        width: 60%;
        margin: 0 auto;
        line-height: 52px;
        @media #{media-query(md)} {
          width: 90%;
        }
        &-item {
          
          a {
            padding: 10px 10px;
            border-radius: 10px;
            span {
              font-size: 20px;
              @media #{media-query(md)} {
                font-size: 12px;
              }
              color: #000;
            }
            &:hover {
              background-color: #999;
              span {
                color: #fff;
              }
            }
          }
          &.active {
            a {
              padding: 10px 10px;
              background-color: #333;
              span {
                color: #ccc;
              }
            }
          }
        }
      }
    }
    &-main {
      width: 80%;
      margin: 0 auto;
      @media #{media-query(sm)} {
        width: 100%;
      }
      @media #{media-query(md)} {
        width: 100%;
      }
      &-nav {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
        &-list {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          &-item {
            a {
              padding: 10px 10px;
              border-radius: 10px;
              color: #000;
              span {
                font-size: 16px;
              }
            }
            &.active {
              a {
                background-color: #333;
                span {
                  color: #ccc;
                }
              }
            }
          }
        }
      }
      &-content {
        width: 80%;
        margin: 0 auto;
        border: 2px solid #ccc;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        @media #{media-query(sm)} {
          width: 100%;
        }
        &-title {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          height: $card-title-height;
          background-color: $card-title-bgcolor;
          color: #fff;
          font-size: $card-title-font-size;
          @media #{media-query(md)} {
            font-size: calc($card-title-font-size - 10px);
            height: calc($card-title-height - 10px);
          }
          @media #{media-query(sm)} {
            font-size: calc($card-title-font-size - 10px);
            height: calc($card-title-height - 10px);
          }
          img {
            width: 50px;
            @media #{media-query(md)} {
              width: 40px;
            }
            @media #{media-query(sm)} {
              width: 30px;
            }
            // height: 30px;
            // margin-right: 10px;
          }
        }
        &-form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 20px 20px;
          &-success {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            // color: #000;
            font-size: 16px;
            font-weight: bold;
            // margin-bottom: 20px;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
            padding: 10px 10px;
          }
          &-items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;
              font-size: calc($card-title-font-size - 15px);
              @media #{media-query(md)} {
                font-size: calc($card-title-font-size - 15px);
              }
              @media #{media-query(sm)} {
                font-size: calc($card-title-font-size - 18px);
              }
              label {
                width: 200px;
              }
              &-input {
                width: 100%;
                // height: 40px;
                // border-radius: 10px;
                // border: 1px solid #ccc;
                // padding: 0 10px;
                input {
                  width: 100%;
                  height: 40px;
                  border-radius: 10px;
                  border: 1px solid #ccc;
                  padding: 0 10px;
                }
                .error-message {
                  color: red;
                  
                }
              }
            }
          }
          &-button {
            display: flex;
            justify-content: center;
            &-submit {
              width: 100px;
              height: 40px;
              background-color: #333;
              color: #fff;
              border-radius: 10px;
              cursor: pointer;
              &:hover {
                background-color: #999;
              }
            }
          }
        }
      }
    }
  }
}
