@use '../css/guest.css';

.mypage {
    background-color: #fff;
}
.mypage-container {
    padding-top: 200px;
    font-size: 20px;

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .mypage-block {
        // background-color: #898989;
    }
}

.review-container {
    padding-top: 120px;
    padding-bottom: 40px;
}