/**
 * Shop page styles
 */

 @use 'global/vars' as *;
 @use 'global/reset';
 @use 'global/base';
 @use 'global/utils';
 @use 'shop/header';
 @use 'shop/mv';
 @use 'shop/today';
 @use 'shop/ranking';
 
 .mock {
   width: 100%;
 }
 .mock img {
   width: 100%;
   height: auto;
 }
 