/**
 * Global Base
 */

@use '../global/vars' as *;

/**
 * ----------------------------------------------------------------------------
 * Scroll behavior
 * ----------------------------------------------------------------------------
 */
html {
  scroll-behavior: smooth;
}

/**
 * ----------------------------------------------------------------------------
 * Base Font
 * ----------------------------------------------------------------------------
 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: $black;
}

/**
 * ----------------------------------------------------------------------------
 * Anchor Text
 * ----------------------------------------------------------------------------
 */
a {
  text-decoration: none;
  @media #{media-query(lg)} {
    &[href^="tel:"] {
      pointer-events: none;
      cursor: default;
    }
  }
}

.content-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  @media #{media-query(md)} {
    width: calc(100% - 80px);
  }
  @media #{media-query(lg)} {
    width: calc(100% - 40px);
  }
}
