/**
 * Global Base
 */

@use '../global/vars' as *;

/**
 * ----------------------------------------------------------------------------
 * Scroll behavior
 * ----------------------------------------------------------------------------
 */
html {
  scroll-behavior: smooth;
}

/**
 * ----------------------------------------------------------------------------
 * Base Font
 * ----------------------------------------------------------------------------
 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: $black;
}

/**
 * ----------------------------------------------------------------------------
 * Anchor Text
 * ----------------------------------------------------------------------------
 */
a {
  text-decoration: none;
  @media #{media-query(lg)} {
    &[href^="tel:"] {
      pointer-events: none;
      cursor: default;
    }
  }
}
