@use '../global/vars' as *;
.sp-only {
  // display: block;
  @media screen and (max-width: 850px) {
    display: block !important;
  }
  @media screen and (min-width: 851px) {
    display: none !important;
  }
  // @media #{media-query(sm)} {
  //   display: block;
  // }
  // @media #{media-query(md)} {
  //   display: none !important;
  // }
  // @media #{media-query(lg)} {
  //   display: none !important;
  // }
}
.pc-only {
  // display: block;
  @media screen and (max-width: 850px) {
    display: none !important;
  }
  @media screen and (min-width: 851px) {
    display: block !important;
  }
  // @media #{media-query(sm)} {
  //   display: none !important;
  // }
  // @media #{media-query(md)} {
  //   display: block;
  // }
  // @media #{media-query(lg)} {
  //   display: block;
  // }
}
