@use '../global/vars' as *;
@use '../mixins/text';
@use '../global/reset';
@use '../global/base';
@use '../global/utils';

.footer {
  background-color: #000;
  padding: 40px 0;
  color: #fff;
  font-family: $font-gothic-min;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    @media #{media-query(sm)} {
      gap: 20px;
      flex-direction: column;
    }
    @media #{media-query(md)} {
      gap: 20px;
    }
    @media #{media-query(lg)} {
      gap: 30px;
    }
    &-item {
      a {
        color: #fff;
        text-decoration: none;
        // font-size: 18px;
        // font-weight: bold;

        &:hover {
          opacity: 0.8;
        }
        @media #{media-query(sm)} {
          font-size: 20px;
          margin: 0 30px;

        }
        @media #{media-query(md)} {
          font-size: 20px;
        }
        @media #{media-query(lg)} {
          font-size: 21px;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    // font-size: 16px;
    // font-weight: bold;
    color: #fff;
    margin-top: 20px;
    @media #{media-query(sm)} {
      font-size: 13px;
    }
    @media #{media-query(md)} {
      font-size: 14px;
    }
    @media #{media-query(lg)} {
      font-size: 14px;
    }
  }
}
