// Import global variables and utilities
@use '../../../global/vars' as *;
@use '../../../mixins/font' as *;

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @media #{media-query(xs)} {
    gap: 3px;
  }
}

.page-nav-btn,
.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  background: $white;
  color: var(---N___, $black);
  text-decoration: none;
  @include times-new-roman();
  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 850px) {
    min-width: 30px;
    height: 36px;
    padding: 0 0px;
    font-size: 14px;
  }
}

.page-number.active {
  background: var(---N_, #394022);
  color: var(---N__, #10040E);
  border-color: #171923;
  font-weight: 600;

  &:hover {
    background: #171923;
    opacity: 1;
    color: #ffffff;
  }
}

.page-nav-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
