/**
 * Main Visual
 */

@use '../global/vars' as *;

.mv {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -500;
  width: 100%;
  @media #{media-query(lg)} {
    // padding: 104px 0 0;
  }

  .mv-main {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
