/**
 * Shop page styles
 */

@use '../global/vars' as *;
@use '../global/reset';
@use '../global/base';
@use '../global/utils';
@use 'components/header';
@use 'components/mv';
@use 'components/today';

.mock {
  width: 100%;
}
.mock img {
  width: 100%;
  height: auto;
}
