@use '../../global/vars' as *;
@use '../../mixins/font' as *;
@use './component/pagination' as *;
.movie-list {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.movie-list-item {
  display: grid;
  width: 100%;
  padding: 0 30px;
  row-gap: 40px;
  column-gap: 40px;
  // grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  &-movie {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .movie-list {
    padding: 20px 0;
  }
  .movie-list-item {
    row-gap: 30px;
    padding: 0 15px;
    // grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.movie-list-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list-item-movie-container{
  display: flex;
  flex-direction: column;

}
.movie-list-item-movie-info {
  display: grid;
  grid-template-columns: 63px 100%;
  grid-template-rows: repeat(2,31px);
  column-gap: 15px;
  row-gap: 10px;
  padding-top: 1rem;

}
.movie-list-item-movie-photo {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

  }
}
.movie-list-item-movie-title {
  @include inter();
  @include responsive-font(23px,26px);
  font-weight: 600;
  color: #fff;
}

.movie-list-item-movie-measurements {
  @include inter();
  @include responsive-font(17px,19px);
  font-weight: 500;
  color: #fff;

}